.comp-card {
    background-color: #f6f6f6;
    border-radius: 5px;
    width: 580px;
    height: 376px;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 10px;
     
    .img {
        width: 400px;
        height: 191px;
    }
}